//- HERO SECTION
section.site-hero
	.site-hero__text
		p.site-hero__text-one#circleOne Since 1990
		h2.site-hero__text-two Welcome to Chilli Restaurant
		p.site-hero__text-three
			| Coffee <i class="fa fa-star"></i> Bar <i class="fa fa-star"></i> Restaurant
		p.site-hero__text-four#circleTwo Silver spring, md

//- END HERO SECTION

//- ABOUT SECTION
section.padding-medium
	.row
		.medium-6.columns
			.homepage-about__frame
				img(src="images/seafood/showcase-of-seafood-in-the-sea-market.jpg", alt="")
				.homepage-about__frame-inner
					img(src="images/logo/logo.png", alt="")

		.medium-6.columns
			.homepage-about
				h2.intro-h About Restaurant
				p.intro-text-mini A premium restaurant WordPress theme
				.hr-decor
				p.intro-text
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolorem blanditiis, vel, inventore est quasi rerum quia aperiam vero dicta modi molestiae, pariatur consectetur placeat. Cumque porro sed tenetur adipisci.

//- END ABOUT SECTION

//- MENU SECTION
section.padding-medium.bg--alpha
	.row.column
		h2.intro-h.text-center Menu Today

	.row
		.medium-4.columns
			article.menu
				h3.menu__h Breakfast
				ul.menu__list
					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

		.medium-4.columns
			article.menu
				h3.menu__h Lunch
				ul.menu__list
					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

		.medium-4.columns
			article.menu
				h3.menu__h Dinner
				ul.menu__list
					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

					li.menu__dish
						h4.menu__dish-name Lorem ipsum dolor.
						p.menu__dish-descr Lorem ipsum dolor sit amet, consectetur adipisicing.
						em.menu__dish-price 200.000 vnd

	.row.column.text-center
		a.btn.btn--dark(href="#") All menu

//- END MENU SECTION

//- RESERVATION
section.padding-medium.bg--beta
	.row.column
		.medium-6.medium-offset-3.column.text-center
			h2.intro-h.text-light Make Online Reservation
			.hr-decor.hr-decor--light
			p.intro-text.text-light Lorem ipsum dolor sit amet, consectetur.

	.row
		.medium-6.medium-offset-3.column
			form.homepage-form(action="/")
				.form-control
					label(for="name").sr-only Name
					input(type="text" name="name" placeholder="Name :").form-input#name
				.form-control
					label(for="datetime").sr-only Date and time
					input(type="text" name="datetime" placeholder="Date and time :").form-input#datetime
				.form-control
					label(for="email").sr-only Email
					input(type="email" name="email" placeholder="Email :").form-input#email
				.form-control
					label(for="phone").sr-only Phone
					input(type="text" name="phone" placeholder="Phone number :").form-input#phone
				.form-control
					label(for="people").sr-only How People
					input(type="text" name="people" placeholder="How many people :").form-input#people

				.text-center
					button(type="submit").btn.btn--primary Book Now

//- END RESERVATION

//- SERVICES
section.padding-medium.bg--alpha
	.row
		.medium-6.medium-offset-3.column.text-center
			h2.intro-h Our Services
			.hr-decor
			p.intro-text
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, ad.

	.row.service-wrap
		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Wedding special

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Birthday party

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Office party

		.medium-3.columns
			article.service
				.service__icon
					i.fa.fa-anchor
				h3.service__name Party hostess

//- END SERVICES

//- GALLERY
section.padding-medium.bg--beta
	.row
		.medium-6.medium-offset-3.column.text-center
			h2.intro-h.text-light Gallery
			.hr-decor.hr-decor--light

	#gallery.gallery
		.gallery__item
			img(src="images/seafood/assortment-of-seafood.jpg", alt="")
		.gallery__item
			img(src="images/seafood/close-up-of-delicious-grilled-seafood-platter.jpg", alt="")
		.gallery__item
			img(src="images/seafood/delicious-portion-of-fresh-salmon-fillet-with-aromatic-herbs-spices-and-vegetables-healthy.jpg", alt="")
		.gallery__item
			img(src="images/seafood/fresh-fish-and-other-seafood-isolated-on-white.jpg", alt="")
		.gallery__item
			img(src="images/seafood/seafood-platter.jpg", alt="")
		.gallery__item
			img(src="images/seafood/shrimps-and-mussels.jpg", alt="")

	.row.column.text-center
			a.btn.btn--light(href="./gallery.html") View more

//- END GALLERY

//- NEWS & EVENTS
section.padding-medium
	.row
		.medium-6.medium-offset-3.column.text-center
			h2.intro-h News &amp; Events
			.hr-decor
			p.intro-text
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolore deserunt necessitatibus dicta quas aut unde corrupti quisquam dignissimos dolor.
	- var url = "blog-detail.html"
	.row
		.small-12.column
			.l-masonry
				.l-masonry__item
					article.card
						figure.card__thumbnail
							a(href="#{url}").card__thumbnail-link
								img(src="images/event/event-1.jpg", alt="").card__thumbnail-img
							figcaption.card__thumbnail-meta
								time(datetime="07-15-1991").card__datetime 15 July 1991

						h3.card__title: a(href="#{url}") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum.

						p.card__text
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure omnis quam vitae necessitatibus!
						p.card__meta
							| By <a href="#">Kavin</a>, <a href="#">12 Comments</a>

				.l-masonry__item
					article.card
						figure.card__thumbnail
							a(href="#{url}").card__thumbnail-link
								img(src="images/event/event-2.jpg", alt="").card__thumbnail-img
							figcaption.card__thumbnail-meta
								time(datetime="07-15-1991").card__datetime 15 July 1991

						h3.card__title: a(href="#{url}") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum.

						p.card__text
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure omnis quam vitae necessitatibus! Accusantium eos earum aliquam facere animi aperiam nam nihil doloribus.
						p.card__meta
							| By <a href="#">Kavin</a>, <a href="#">12 Comments</a>
							
				.l-masonry__item
					article.card
						figure.card__thumbnail
							a(href="#{url}").card__thumbnail-link
								img(src="images/event/event-3.jpg", alt="").card__thumbnail-img
							figcaption.card__thumbnail-meta
								time(datetime="07-15-1991").card__datetime 15 July 1991

						h3.card__title: a(href="#{url}") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum.

						p.card__text
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure omnis quam vitae necessitatibus! Accusantium.
						p.card__meta
							| By <a href="#">Kavin</a>, <a href="#">12 Comments</a>

	.row
		.small-12.column.text-center
			a(href="blog.html").btn.btn--dark View more news
								